<h1>Vagas da Revelo</h1>

<h2>Vagas em SP</h2>

<% @vagas.each do |vaga| %>
  <div>
    <h3><%= vaga.titulo %></h3>
    <%= link_to 'Ver detalhes', vaga %>
  </div>
<% end %>

<%= link_to 'Criar Vaga', new_vaga_path %>

<% dia = 'quinta' %>

<% if dia == 'sexta' %>
  <p>Sextou! Party hard!!!</p>
<% else %>
  <p> Ainda não </p>
  Hoje ainda é <%= Date.today %>
<% end %>



